:host {
  display: flex;
}

.price {
  margin-top: 8px;
}

.quantity {
  margin-top: 4px;
  display: flex;
  align-items: center;
}


.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;

  span {
    margin: 0 8px;
  }
}
